<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/dashboard}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="main-content container-fluid" layout:fragment="content">
    <div class="page-title">
        <h3>Dashboard</h3>
        <p class="text-subtitle text-muted">Tasks dashboard</p>
    </div>
    <section class="section">
        <div class="row mb-4">
            <div class="col-md-4">
                <div class="table-responsive">
                    <table class='table table-hover table-responsive table-responsive-sm  mb-0' id="table1">
                                <thead>
                                <tr>
                                    <th>
                                        <div class="card card-statistic mb-0">
                                            <div class="card-body p-0">
                                                <div class="d-flex flex-column">
                                                    <div class='px-3 py-3 d-flex justify-content-between'>
                                                        <h3 class='card-title'>TO-DO</h3>
                                                        <div class="card-right d-flex align-items-center">
                                                            <p>50</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="todoTask : ${todoTasks}">
                                    <td class="border-bottom-0">
                                        <div class="card mb-0">
                                            <div class="card-body">
                                                <h5 class="card-title" th:text="${todoTask.getSubject()}"></h5>
                                                <h6 class="card-subtitle mb-2 text-muted">Assigned by: <span th:text="${todoTask.getAssignedBy().getFullName()}"></span></h6>
                                                <p class="card-text" th:text="${todoTask.getDescription()}"></p>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                </div>
            </div>

            <div class="col-md-4">
                <div class="table-responsive">
                    <table class='table table-hover table-responsive table-responsive-sm  mb-0' id="table2">
                        <thead>
                        <tr>
                            <th>
                                <div class="card card-statistic mb-0">
                                    <div class="card-body p-0">
                                        <div class="d-flex flex-column">
                                            <div class='px-3 py-3 d-flex justify-content-between'>
                                                <h3 class='card-title'>IN PROGRESS</h3>
                                                <div class="card-right d-flex align-items-center">
                                                    <p>50</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="inProgressTask : ${inProgressTasks}">
                            <td class="border-bottom-0">
                                <div class="card mb-0">
                                    <div class="card-body">
                                        <h5 class="card-title" th:text="${inProgressTask.getSubject()}"></h5>
                                        <h6 class="card-subtitle mb-2 text-muted">Assigned by: <span th:text="${inProgressTask.getAssignedBy().getFullName()}"></span></h6>
                                        <p class="card-text" th:text="${inProgressTask.getDescription()}"></p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-4">
                <div class="table-responsive">
                    <table class='table table-hover table-responsive table-responsive-sm  mb-0' id="table3">
                        <thead>
                        <tr>
                            <th>
                                <div class="card card-statistic mb-0">
                                    <div class="card-body p-0">
                                        <div class="d-flex flex-column">
                                            <div class='px-3 py-3 d-flex justify-content-between'>
                                                <h3 class='card-title'>DONE</h3>
                                                <div class="card-right d-flex align-items-center">
                                                    <p>50</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="doneTask : ${doneTasks}">
                            <td class="border-bottom-0">
                                <div class="card mb-0">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col"><h5 class="card-title" th:text="${doneTask.getSubject()}"></h5></div>
                                            <div class="col justify-content-end">
                                                <a class="dropdown float-end">
                                                    <div   data-bs-toggle="dropdown">
                                                        <i data-feather="repeat" width="20"></i>
                                                    </div>
                                                    <div class="dropdown-menu dropdown-menu-end ">
                                                        <button class="dropdown-item"><i data-feather="list"></i> TO-DO</button>
                                                        <button class="dropdown-item"><i data-feather="clock"></i> IN PROGRESS</button>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>

                                        <hr>

                                        <h6 class="card-subtitle mb-2 text-muted">Assigned by: <span th:text="${doneTask.getAssignedBy().getFullName()}"></span></h6>
                                        <h6 class="card-subtitle mb-2 text-muted">Assigned to: <span th:text="${doneTask.getAssignedTo().getFullName()}"></span></h6>
                                        <p class="card-text" th:text="${doneTask.getDescription()}"></p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>


        </div>
    </section>
</div>
</body>
</html>